[submodule "CapSense"]
	path = CapSense
	url = https://github.com/INTI-CMNB/CapSense_IP_Core.git
[submodule "miniuart"]
	path = miniuart
	url = https://github.com/INTI-CMNB/MiniUART_IP_core.git
[submodule "lattice"]
	path = lattice
	url = https://github.com/INTI-CMNB/Lattice_FGPA_helpers.git
[submodule "mems"]
	path = mems
	url = https://github.com/INTI-CMNB/Memory_IP_Cores.git
[submodule "wb_counter"]
	path = wb_counter
	url = https://github.com/INTI-CMNB/WISHBONE_Counter_IP_Core.git
[submodule "utils"]
	path = utils
	url = https://github.com/INTI-CMNB/Utilities_for_IP_Cores.git
[submodule "wb_handler"]
	path = wb_handler
	url = https://github.com/INTI-CMNB/WISHBONE_Handler_IP_Core.git
[submodule "SPI"]
	path = SPI
	url = https://github.com/INTI-CMNB/SPI_IP_Core.git
[submodule "AVR/AVR_iCE40"]
	path = AVR/AVR_iCE40
	url = https://github.com/INTI-CMNB/AVR_for_iCE40_IP_Core.git
